@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Política de Privacidade - PilotStore</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://bootswatch.com/4/pulse/bootstrap.min.css">
</head>
<body>
    <header class="bg-dark text-white mt-3">
        <div class="container text-center">
            <h1 class="py-3">Privacidade</h1>
        </div>
    </header>

    <main role="main" class="container mt-5">
        <h1>Política de Privacidade</h1>

        <section class="bg-white rounded shadow p-4 mb-4">
            <h2>Coleta de Informações Pessoais</h2>
            <p>Na PilotStore, valorizamos a privacidade dos nossos clientes. Ao fazer compras em nosso site, podemos coletar informações pessoais, como nome, endereço, informações de pagamento e informações de contato. Essas informações são estritamente necessárias para processar pedidos e fornecer suporte ao cliente.</p>
        </section>

        <section class="bg-white rounded shadow p-4 mb-4">
            <h2>Segurança de Dados</h2>
            <p>Estamos comprometidos em proteger suas informações pessoais. Utilizamos medidas de segurança avançadas para proteger os dados dos clientes contra acesso não autorizado, divulgação ou alteração. Além disso, todas as informações de pagamento são processadas de forma segura por meio de criptografia SSL.</p>
        </section>

        <section class="bg-white rounded shadow p-4 mb-4">
            <h2>Uso de Cookies</h2>
            <p>Utilizamos cookies para melhorar a experiência do usuário em nosso site. Os cookies são usados para lembrar preferências, rastrear informações para análises e ajudar a personalizar o conteúdo. Você pode gerenciar as configurações de cookies no seu navegador a qualquer momento.</p>
        </section>

        <section class="bg-white rounded shadow p-4 mb-4">
            <h2>Compartilhamento de Informações</h2>
            <p>Nós não compartilhamos informações pessoais de nossos clientes com terceiros, exceto quando necessário para processar transações, cumprir requisitos legais ou melhorar a experiência do cliente, como ao utilizar serviços de entrega de terceiros para envio de produtos.</p>
        </section>

        <section class="bg-white rounded shadow p-4 mb-4">
            <h2>Newsletter e Comunicações de Marketing</h2>
            <p>Podemos, ocasionalmente, enviar e-mails informativos e de marketing aos nossos clientes que optaram por receber nossas comunicações. Você pode optar por não receber esses e-mails a qualquer momento, seguindo as instruções de cancelamento de inscrição fornecidas em cada e-mail.</p>
        </section>

        <section class="bg-white rounded shadow p-4 mb-4">
            <h2>Contato e Atualizações</h2>
            <p>Se você tiver alguma dúvida sobre nossa política de privacidade ou sobre como lidamos com seus dados pessoais, entre em contato conosco através do formulário de contato em nosso site ou utilizando as informações de contato fornecidas na página "Quem Somos". Além disso, esta política de privacidade pode ser atualizada periodicamente para refletir mudanças nas práticas da empresa. Verifique esta página regularmente para estar ciente de qualquer atualização.</p>
        </section>

        <p>Esta política é efetiva a partir de 02/11/2023.</p>
    </main>

    <footer class="bg-dark text-white text-center py-3">
        <div class="container">
            <p>&copy; PilotStore - Todos os direitos reservados.</p>
        </div>
    </footer>
</body>
</html